<div class="wrapper">
    <div class="section section-hero section-shaped">
        <div class="shape shape-style-3 shape-default">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 text-center">
                            <h1 class="text-white display-1">وظائف القصيم</h1>
                            <h2 class="display-4 font-weight-normal text-white">منصة إلكترونية لأصحاب العمل والباحثين عن عمل في القطاع الخيري بالقصيم</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <section class="section" style="background-color: #e9ecef;margin-top: 2rem;">
        <div class="row align-items-center" style="margin:0 8rem;">
            <div class="col-lg-3">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="البحث بواسطة الاسم أو المهارات أو الكلمات الرئيسية">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="البحث بحسب مكان الوظيفة">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="البحث باسم الشركة">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">بحث</button>
            </div>
        </div>
    </section>
    <div class="section features-6" style="text-align: right;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="info info-horizontal info-hover-primary">
                        <div class="description pl-4">
                            <h5 class="title">الباحثين عن عمل</h5>
                            <p>تعد منصة وظائف القصيم مكانًا رائعًا و مثاليًا للباحثين عن عمل و رفع فرص إيجادهم من قبل أصحاب العمل. نحن نُمهِّدُ لك الطريق لمستقبل متميز

                        </div>
                    </div>
                    <div class="info info-horizontal info-hover-primary mt-5">
                        <div class="description pl-4">
                            <h5 class="title">أصحاب العمل</h5>
                            <p> العمل مع أصحاب أعمال موثوقين فقط. نحن نقدم خدمة التحقق من الشركة من أجل ضمان توظيف موثوق.</p>

                        </div>
                    </div>
                    <div class="info info-horizontal info-hover-primary mt-5">
                        <div class="description pl-4">
                            <h5 class="title">الهدف العام</h5>
                            <p>تيسير عملية التوظيف والحصول على الكفاءات ذات الكفاءة والفعالية للجهات و تسهيل التقديم على الوظائف لطالبي العمل في القطاع الخيري</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-10 mx-md-auto">
                    <img class="ml-lg-5" src="../assets/img/ill/ill.png" width="100%">
                </div>
            </div>
        </div>
    </div>
    <div class="section features-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <span class="btn btn-primary mb-3">افتح حساب الآن</span>

                </div>

            </div>
        </div>
    </div>
</div>
<br />
<br />